@import "@material/data-table/mdc-data-table";

.mdc-data-table{
    margin: 0 0 74px;
    border: 0px;
}

.mdc-data-table--no-margin{
    margin: 0;
}

.mdc-data-table__header-row{
    th{
        font-weight: bold;
    }
}

.mdc-card--dt_actions{
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
