@import "@material/fab/mdc-fab";

.create-fab {
    background-color: #F9AA33;
    color: #000;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    .mdc-fab__ripple::before, .mdc-fab .mdc-fab__ripple::after {
        background-color: var(--mdc-theme-on-secondary, #000);
    }
}
