// Used in data table for menu under 3 vertical dots
.item-menu-anchor{
    float: right;
}

.mdc-menu-more{
    color: #000;
    
    .mdc-list-item__text{
        color: #000;
        text-decoration: none;
    }
}
