.mdc-data-table-pagination{
    text-align: right;
    padding: 8px;
    border-top: 1px solid rgba(0,0,0,0.12);
    
    .info{
        position: relative;
        top: -6px;
    }
    
    .mdc-menu-surface--anchor{
        display:inline;
    }
}

.mdc-data-card-pagination{
    text-align: right;
    
    .info{
        position: relative;
        top: -6px;
    }
    
    .mdc-menu-surface--anchor{
        display:inline;
    }
}

.mdc-card--pagination{
    padding: 8px;
}
