// Define theme variables before importing any MDC Web component styles
$mdc-theme-primary: #F9AA33;

// Can't set opacity with sass mixins
$mdc-drawer-title-ink-opacity: 1;
$mdc-drawer-subtitle-ink-opacity: 1;
$mdc-drawer-item-inactive-icon-ink-opacity: 1;
$mdc-drawer-item-inactive-text-ink-opacity: 1;
$mdc-drawer-item-active-icon-ink-opacity: 1;
$mdc-drawer-item-active-text-ink-opacity: 1;

// Import the styles for each MDC Web component
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "@material/icon-button/mdc-icon-button";
@import "@material/elevation/mdc-elevation";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";

@import "components/dt";
@import "components/item-menu";
@import "components/fab";
@import "@material/snackbar/mdc-snackbar";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/chips/mdc-chips";

.mdc-card__actions.mdc-card__actions--reversed{
    flex-direction: row-reverse;
}

.mdc-drawer{
    @include mdc-drawer-width(304px);
    @include mdc-drawer-surface-fill-color(#344955);

    @include mdc-drawer-item-icon-ink-color(#fff);
    @include mdc-drawer-item-activated-icon-ink-color(#F9AA33);

    @include mdc-drawer-item-text-ink-color(white);
    @include mdc-drawer-item-activated-text-ink-color(#F9AA33);

    @include mdc-drawer-activated-overlay-color(#688b9b);

    @include mdc-drawer-title-ink-color(white);
    @include mdc-drawer-subtitle-ink-color(#bdc1c3);

    opacity: 1;

    .mdc-drawer__header{
        background-color: #232F34;
        padding: 18px 0 18px 18px;
        min-height: 112px;

        img{
            width: 72px;
        }

        span{
            color: #fff;
            font-size: 21px;
            position: relative;
            top: -6px;
        }
    }
}

.mdc-top-app-bar__title{
    color: #fff;
    a{
        color: #fff;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: #FAFAFA;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
    --mdc-theme-primary: #4A6572;
    .material-icons{
        color: #fff;
    }
}

.mdc-list-item__primary-text-link{
    color: inherit;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

// only apply this style if below top app bar
.mdc-top-app-bar {
    z-index: 7;
}

.mdc-card{
    padding: 16px;
}

.content-wrap{
    margin: 14px;

    &.with-fab{
        margin-bottom: 84px;
    }

    .mdc-data-table{
        width: 100%;
    }
}

#search_ctrl.open{
    #search-field{
        display: block;
    }

    #btn-search{
        display: none;
    }
}

#search_ctrl.close{
    #search-field{
        display: none;
    }

    #btn-search{
        display: block;
    }
}

.mdc-text-field.search{
    background-color: #4A6572;
    height: 84%;

    form{
        height: 100%;
    }

    input{
        caret-color: #fff;
        color: #fff !important;
        border-bottom: solid 2px rgba(255, 255, 255, 1) !important;
        &::placeholder {
          color: #fff;
          opacity: 1;
        }
    }

    .mdc-text-field__icon{
        color: rgba(255, 255, 255, 1);
    }
}

.mdc-list--data{
    .mdc-list-item__graphic{
        color: #000;
    }
}

//.mdc-layout-grid{
//    &.mdc-layout-grid--no-padding{
//        padding: 0;
//    }
//}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.clear{
    clear: both;
}

.mdc-select-helper-text{
    &.none{
        display: none;
    }
}

.none{
    display: none;
}

.ws-status-unknown {
  color: #0446AA;
}

.ws-status-disabled {
  opacity: 0.6;
}

.ws-status-available {
  color: #39AA04;
}

.ws-status-unavailable {
  color: #BD0707;
}


.log-info {
  color: #4E94FD;
}

.log-warning {
  color: #E79B09;
}

.log-error {
  color: #BD0707;
}

.list-link{
    color: #000;
}

.notification-wrap{
    position: relative;
    .notification-count{
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 20px;
        color: #fff;
        background-color: #B20404;
        display: block;
        width: 22px;
        height: 22px;
        text-align: center;
        z-index: 2;
        font-size: 14px;
        line-height: 1.5em;
    }
}

#documentation-filter{
  display: none;
  width: 40%;
  height: 100%;
  border-left: solid #cecece 1px;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;

  &.documentation-open{
    display: flex;
  }

  .filter-documentation{
    padding: 64px 24px 0;
    position: relative;

    .title{
      margin: 16px 0;
    }

    .close{
      position: absolute;
      top: 72px;
      right: 12px;
      opacity: 0.6;
      color: #232F34;
    }

    .mdc-typography--subtitle2{
      margin: 18px 0 0 0;
      opacity: 0.5;
    }
  }
}

#data-table-wrap{
  &.with-documentation{
    margin-right: 40%;
  }
}

#main-content{
  &.main-content--with-documentation{
    .create-fab{
      margin-right: 40%;
    }
  }
}

.filter-documentation-data {
  h5 {
    font-size: 14px;
    height: 38px;
    padding-left: 8px;

    .mdc-list-item__graphic {
      margin-right: 14px;
    }
  }
}

#documentation-container {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}


element.style {
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text:hover {
    border-bottom-color: rgba(0, 0, 0, 0.87);
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    /* border-bottom-color: rgba(0, 0, 0, 0.42); */
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    /* color: rgba(0, 0, 0, 0.87); */
}
.mdc-select--outlined .mdc-select__selected-text {
    /* padding-left: 16px; */
    /* padding-right: 52px; */
    /* display: flex; */
    /* padding-top: 14px; */
    /* padding-bottom: 12px; */
    /* border: none; */
    /* background-color: transparent; */
    /* z-index: 1; */
}
