@import "base";

@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/snackbar/mdc-snackbar";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/switch/mdc-switch";

.mdc-card-form{
  .mdc-text-field{
    width: 100%;
  }

  .textfield-wrap{
    margin-bottom: 14px;
  }

  .buttons{
    margin: 24px 0 0 0;
    text-align: right;
  }
}

.mdc-switch.mdc-switch--checked{
  .mdc-switch__thumb{
    background-color: #F9AA33;
    border-color: #F9AA33;
  }

  .mdc-switch__track{
    background-color: #F9AA33;
    border-color: #F9AA33;
  }
}

.mdc-switch__thumb-underlay::before,
.mdc-switch__thumb-underlay::after{
  background-color: #F9AA33;
}

.document{
  white-space: pre-wrap;
  font-family: monospace;
}

.printout{
  width: 313px;
  margin: 0 auto;
}

.mdc-card-versions{
  h6{
    margin: 0 0 8px;
    padding: 0;
  }

  .version{
    margin: 8px 0 0 0;

    a{
      color: #000;
      text-decoration: none;
      opacity: 0.6;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}