@import "base";
@import "components/item-menu";
@import "components/fab";

@import "@material/snackbar/mdc-snackbar";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/list/mdc-list";
@import "@material/checkbox/mdc-checkbox";
@import "@material/layout-grid/mdc-layout-grid";

.mdc-card.foreign-system{
  h3{
    text-transform: uppercase;
    font-size: 13px;
    margin: 16px 0 4px 0;
  }
  h2{
    margin: 4px 0 16px 0;
  }
}

a{
  &.mdc-card{
    text-decoration: none;
    color: inherit;
  }
}
