@import "base";
@import "components/pagination";
@import "components/dt";
@import "components/item-menu";
@import "components/fab";

@import "@material/snackbar/mdc-snackbar";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/list/mdc-list";
@import "@material/checkbox/mdc-checkbox";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/chips/mdc-chips";
@import "@material/textfield/mdc-text-field";


body {
  background: #fff;
}


.status-cell{
  span{
    position: relative;
    top: -6px;
  }
}

#data-table-filter{
  display: none;
  width: 250px;
  height: 100%;
  border-left: solid #cecece 1px;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;

  &.filter-open{
    display: flex;
  }

  .filter-content{
    padding: 64px 24px 0;
    position: relative;

    .title{
      margin: 16px 0;
    }

    .close{
      position: absolute;
      top: 72px;
      right: 12px;
      opacity: 0.6;
    }

    .mdc-typography--subtitle2{
      margin: 18px 0 0 0;
      opacity: 0.5;
    }
  }
}

#data-table-wrap{
  &.with-filter{
    margin-right: 270px;
  }
}

#main-content{
  &.main-content--with-filter{
    .create-fab{
      margin-right: 270px;
    }
  }
}

.filter-list{
  li{
    font-size: 14px;
    height: 38px;
    padding-left: 8px;

    .mdc-list-item__graphic{
      margin-right: 14px;
    }
  }

  .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background{
    border-color: #F9AA33;
    background-color: #F9AA33;
  }

  .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__checkmark{
    color: #fff;
  }

  .mdc-checkbox .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background::before, .mdc-checkbox .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background::before{
    background-color: #F9AA33;
  }
}

tr{
  &.un-viewed{
    td {
      font-weight: bold;
    }
  }
}

