//@use "@material/theme" with (
//  $primary: #F9AA33,
//  $secondary: #fff,
//  $on-primary: #000,
//  $on-secondary: #2b442c,
//);

$mdc-theme-primary: #F9AA33;
$mdc-theme-secondary: #FFF;

@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/snackbar/mdc-snackbar";


body{
   background-color: #FAFAFA;
}

.organization{
  opacity: 0.6;
}

#login_box{
    max-width: 1000px;
    width: 80%;
    margin: 10% auto 0;
    padding: 16px;

    .mdc-text-field{
        width: 100%;
        margin: 0 0 24px 0;
    }

    #fp{
       float: left;
    }

    img{
        width: 90%;
        display: block;
        margin: auto;
    }

    .buttons{
        text-align: right;
    }
}

#reset_pwd_box{
  max-width: 640px;
  width: 95%;
  margin: 10% auto 0;
  padding: 3%;

  .mdc-text-field{
      width: 100%;
      margin: 0 0 24px 0;
  }

  #fp{
     float: left;
  }

  .buttons{
    text-align: right;
  }

  span{
    opacity: 0.6;
  }
}

#eraf-login-footer{
  max-width: 1000px;
    width: 80%;
    margin: 96px auto;

  img{
    width: 50%;
    display: block;
    margin: 0 auto 24px;
  }

  div{
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
  }
}


//@media (min-width: snackbar.$mobile-breakpoint) {
//  .mdc-snackbar{
//    @include snackbar.viewport-margin(snackbar.$viewport-margin-wide);
//  }
//}


