@import "base";

@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/dialog/mdc-dialog";
@import "@material/chips/mdc-chips";
@import "@material/data-table/mdc-data-table";

.mdc-data-table{
    margin: 0 0 74px;
}

.mdc-data-table--no-margin{
    margin: 0;
}

.mdc-data-table__header-row{
    th{
        font-weight: bold;
    }
}

.form-title {
    margin: 14px 0 0 0;
}

.mdc-card-versions{
  h6{
    margin: 0 0 8px;
    padding: 0;
  }

  .version{
    margin: 8px 0 0 0;

    a{
      color: #000;
      text-decoration: none;
      opacity: 0.6;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

#dialogVersion{
  max-width: 100% !important;
}