@import "base";

@import "@material/select/mdc-select";
@import "@material/menu/mdc-menu";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/snackbar/mdc-snackbar";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/switch/mdc-switch";
@import "@material/chips/mdc-chips";


.mdc-card-form{
  .mdc-text-field{
    width: 100%;
  }

  .textfield-wrap{
    margin-bottom: 14px;
  }

  .buttons{
    margin: 24px 0 0 0;
    text-align: right;
  }
}

.mdc-switch.mdc-switch--checked{
  .mdc-switch__thumb{
    background-color: #F9AA33;
    border-color: #F9AA33;
  }

  .mdc-switch__track{
    background-color: #F9AA33;
    border-color: #F9AA33;
  }
}

.mdc-switch__thumb-underlay::before,
.mdc-switch__thumb-underlay::after{
  background-color: #F9AA33;
}

.document{
  white-space: pre-wrap;
  font-family: monospace;
}

.printout{
  width: 313px;
  margin: 0 auto;
}

.mdc-card-versions{
  h6{
    margin: 0 0 8px;
    padding: 0;
  }

  .version{
    margin: 8px 0 0 0;

    a{
      color: #000;
      text-decoration: none;
      opacity: 0.6;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.run-period-wrap{
  .mdc-select{
    float: left;
    margin: 0 14px 0 0;
  }
}

.task-wrap{
  .mdc-select{
    float: left;
    margin: 0 14px 0 0;
  }

  a{
    position: relative;
    top: 10px;
  }
}

.error-title{
  margin: 14px 0 0 0;
  font-weight: bold;
}

.error-message{
  opacity: 0.6;
}

#work-documentation-container {
    font-family: Roboto, sans-serif;
    font-size: 14px;
  img {
    width: 400px;
  }
}

.select-work-documentation {
  select{
    padding-left: 10px;
    display: flex;
    padding-top: 14px;
    padding-bottom: 12px;
    background-color: transparent;
    z-index: 1;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 400;
    letter-spacing: 0.00937em;
    text-decoration: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    height: 56px;
    white-space: nowrap;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.42);
    appearance: none;
    margin: 14px 0 14px 0;
  }
}